extends layout

block content
  h1 Create New Message 
  form(method='POST', action='/new')
    label Author: 
    input(type='text', name='author', value='')
    br
    label Message: 
    input(type='text', name='message', value='')
    br
    button(type='submit') Submit
  br
  a(href='/') Return To Messageboard